In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.linear_model import LinearRegression
from sklearn.metrics import roc_curve, roc_auc_score

In [3]:
dmov = pd.read_csv('movies.csv')
dmov1 = dmov.copy()
drat = pd.read_csv('ratings.csv')
drat1 = drat.copy()

In [7]:
##### Merger tabel movie dan rating #####
df = pd.merge(dmov1, drat1,how='inner', on='movieId')
df

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,5.0,859046895
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1303501039
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,5.0,858610933
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.0,850815810
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.0,851766286
...,...,...,...,...,...,...
105334,148238,A Very Murray Christmas (2015),Comedy,475,3.0,1451213043
105335,148626,The Big Short (2015),Drama,458,4.0,1452014749
105336,148626,The Big Short (2015),Drama,576,4.5,1451687664
105337,148626,The Big Short (2015),Drama,668,4.5,1451148148
105338,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed),475,4.0,1451223429

In [ ]:
###### SOAL Pertama : Joko ######

In [85]:
##### filter genre comdey|drama, sesuai selera Widodo #####
aa = df.loc[(df["genres"] == 'Action|Animation')]
aa

,movieId,title,genres,userId,rating,timestamp
87702,26913,Street Fighter II: The Animated Movie (Sutorît...,Action|Animation,62,3.5,1268780638
100078,79274,Batman: Under the Red Hood (2010),Action|Animation,224,4.5,1425243912
100079,79274,Batman: Under the Red Hood (2010),Action|Animation,241,5.0,1446918970
100080,79274,Batman: Under the Red Hood (2010),Action|Animation,461,5.0,1280804292
102563,94974,Superman vs. The Elite (2012),Action|Animation,475,3.0,1370494631
103224,99813,"Batman: The Dark Knight Returns, Part 2 (2013)",Action|Animation,224,4.5,1420794884
103225,99813,"Batman: The Dark Knight Returns, Part 2 (2013)",Action|Animation,241,5.0,1446918448
103226,99813,"Batman: The Dark Knight Returns, Part 2 (2013)",Action|Animation,256,4.0,1415804656
103227,99813,"Batman: The Dark Knight Returns, Part 2 (2013)",Action|Animation,413,4.5,1369655076
103228,99813,"Batman: The Dark Knight Returns, Part 2 (2013)",Action|Animation,461,4.0,1421319500
105057,124867,Justice League: Throne of Atlantis (2015),Action|Animation,475,2.0,1451814251
105275,138104,Justice League: Gods and Monsters (2015),Action|Animation,475,4.0,1437063424

In [88]:
##### cek movie favorit dari joko sebagai pembanding #####
joko = df.loc[(df["title"] == 'Superman vs. The Elite (2012)')]
joko
##### ratingnya hanya 3.0, kita tidak bisa mengunakan userID yang sama untuk dijadikan pembanding

,movieId,title,genres,userId,rating,timestamp
102563,94974,Superman vs. The Elite (2012),Action|Animation,475,3.0,1370494631

In [90]:
##### Rata-ratakan setiap rating dari movie yang sama #####
aaavg = aa.groupby('title').mean()
aaavg
#### TERNYATA tepat ada 5 movie selain Superman vs. The Elite (2012)

,movieId,userId,rating,timestamp
title,,,,
"Batman: The Dark Knight Returns, Part 2 (2013)",99813.0,319.000000,4.400000,1.414899e+09
Batman: Under the Red Hood (2010),79274.0,308.666667,4.833333,1.384322e+09
Justice League: Gods and Monsters (2015),138104.0,475.000000,4.000000,1.437063e+09
Justice League: Throne of Atlantis (2015),124867.0,475.000000,2.000000,1.451814e+09
Street Fighter II: The Animated Movie (Sutorîto Faitâ II gekijô-ban) (1994),26913.0,62.000000,3.500000,1.268781e+09
Superman vs. The Elite (2012),94974.0,475.000000,3.000000,1.370495e+09

In [92]:
##### Sortir bedasarkan rata-rata rating tertinggi #####
aarank = aaavg.sort_values(by='rating', ascending=False)
aarank

,movieId,userId,rating,timestamp
title,,,,
Batman: Under the Red Hood (2010),79274.0,308.666667,4.833333,1.384322e+09
"Batman: The Dark Knight Returns, Part 2 (2013)",99813.0,319.000000,4.400000,1.414899e+09
Justice League: Gods and Monsters (2015),138104.0,475.000000,4.000000,1.437063e+09
Street Fighter II: The Animated Movie (Sutorîto Faitâ II gekijô-ban) (1994),26913.0,62.000000,3.500000,1.268781e+09
Superman vs. The Elite (2012),94974.0,475.000000,3.000000,1.370495e+09
Justice League: Throne of Atlantis (2015),124867.0,475.000000,2.000000,1.451814e+09

In [98]:
#### remove Superman vs. The Elite (2012), dan hasilnya sudah final
#aafin = aarank.copy()
#aafin.drop("Superman vs. The Elite (2012)", axis=0, inplace=True)
aafin

,movieId,userId,rating,timestamp
title,,,,
Batman: Under the Red Hood (2010),79274.0,308.666667,4.833333,1.384322e+09
"Batman: The Dark Knight Returns, Part 2 (2013)",99813.0,319.000000,4.400000,1.414899e+09
Justice League: Gods and Monsters (2015),138104.0,475.000000,4.000000,1.437063e+09
Street Fighter II: The Animated Movie (Sutorîto Faitâ II gekijô-ban) (1994),26913.0,62.000000,3.500000,1.268781e+09
Justice League: Throne of Atlantis (2015),124867.0,475.000000,2.000000,1.451814e+09

In [103]:
#### Dirapihkan dulu ####
#aafin.drop("movieId", axis=1, inplace=True)
#aafin.drop("userId", axis=1, inplace=True)
#aafin.drop("timestamp", axis=1, inplace=True)
#aafin --> 5 rekomendasi film untuk Widodo

                                                      rating
title
Batman: Under the Red Hood (2010)                   4.833333
Batman: The Dark Knight Returns, Part 2 (2013)      4.400000
Justice League: Gods and Monsters (2015)            4.000000
Street Fighter II: The Animated Movie (Sutorîto...  3.500000
Justice League: Throne of Atlantis (2015)           2.000000

In [ ]:
###### SOAL Kedua : Widodo ######

In [52]:
##### filter genre comdey|drama, sesuai selera Widodo #####
kd = df.loc[(df["genres"] == 'Comedy|Drama')]
kd

,movieId,title,genres,userId,rating,timestamp
3235,72,Kicking and Screaming (1995),Comedy|Drama,267,4.0,968989585
3236,72,Kicking and Screaming (1995),Comedy|Drama,662,5.0,945179229
3262,75,Big Bully (1996),Comedy|Drama,62,0.5,1267427192
3263,75,Big Bully (1996),Comedy|Drama,578,4.0,858656163
3340,82,Antonia's Line (Antonia) (1995),Comedy|Drama,61,0.5,1059070600
...,...,...,...,...,...,...
105169,132800,Welcome to Me (2014),Comedy|Drama,668,2.5,1437258304
105182,133545,Just Before I Go (2014),Comedy|Drama,576,3.5,1448930785
105304,140816,Tangerine (2015),Comedy|Drama,668,2.5,1443288791
105320,143257,Ashby (2015),Comedy|Drama,167,4.0,1446588188
105329,146344,Elämältä kaiken sain ( ),Comedy|Drama,475,2.0,1451063179

In [89]:
##### cek movie favorit dari widodo sebagai pembanding #####
widodo = df.loc[(df["title"] == 'Being Flynn (2012)')]
widodo
##### ratingnya 2.5, kita tidak bisa mengunakan userID yang sama untuk dijadikan pembanding

        movieId               title        genres  userId  rating   timestamp
102677    95816  Being Flynn (2012)  Comedy|Drama     668     2.5  1351303077

In [68]:
##### Rata-ratakan setiap rating dari movie yang sama #####
kdavg = kd.groupby('title').mean()
kdavg

                                   movieId      userId    rating     timestamp
title
17 Again (2009)                    68135.0  332.000000  2.875000  1.306895e+09
200 Cigarettes (1999)               2504.0  383.875000  3.000000  1.038644e+09
24 7: Twenty Four Seven (1997)      2444.0  476.333333  2.666667  1.037340e+09
50/50 (2011)                       89864.0  365.357143  3.678571  1.388032e+09
About Schmidt (2002)                5945.0  307.142857  3.607143  1.170512e+09
...                                    ...         ...       ...           ...
Women, The (2008)                  61361.0  365.500000  2.000000  1.264812e+09
Wonder Boys (2000)                  3317.0  363.173913  4.000000  1.064554e+09
World's Greatest Dad (2009)        71429.0  571.500000  3.250000  1.326742e+09
Young Adult (2011)                 91622.0  552.000000  3.333333  1.329744e+09
Your Friends and Neighbors (1998)   2165.0  432.333333  2.916667  1.032698e+09

[465 rows x 4 columns]

In [69]:
##### Sortir bedasarkan rata-rata rating tertinggi #####
kdrank = kdavg.sort_values(by='rating', ascending=False)

In [70]:
##### Pilih yang ratingnya 5.0, ternyata ada 7 movie #####
kdfin = (kdrank.loc[kdrank['rating'] == 5.0])
kdfin

                                     movieId  userId  rating     timestamp
title
Lawless Heart, The (2003)             6190.0   596.0     5.0  1.048835e+09
Cold Fever (Á köldum klaka) (1995)     649.0   130.0     5.0  9.474791e+08
Dear Diary (Caro Diario) (1994)        583.0   601.0     5.0  9.389426e+08
Hard Core Logo (1996)                 2342.0   303.0     5.0  9.751720e+08
Syrup (2013)                        102378.0   229.0     5.0  1.439445e+09
Kika (1993)                            567.0   212.0     5.0  8.585438e+08
Sleepwalk with Me (2012)             96467.0   232.0     5.0  1.355447e+09

In [83]:
#####Rekomendasikan 5 film terbaik bedasarkan tanggal rilis#####
# kdfin.drop("Dear Diary (Caro Diario) (1994)", axis=0, inplace=True)
# kdfin.drop("Kika (1993)", axis=0, inplace=True)
#kdfin.drop("movieId", axis=1, inplace=True)
#kdfin.drop("userId", axis=1, inplace=True)
#kdfin.drop("timestamp", axis=1, inplace=True)

#kdfin --> 5 rekomendasi film untuk Widodo

                                    rating
title
Lawless Heart, The (2003)              5.0
Cold Fever (Á köldum klaka) (1995)     5.0
Hard Core Logo (1996)                  5.0
Syrup (2013)                           5.0
Sleepwalk with Me (2012)               5.0

In [99]:
### jadi, ketik "aafin" --> untuk menampilkan 5 rekomendasi film untuk Joko
### jadi, ketik "kdfin" --> untuk menampilkan 5 rekomendasi film untuk Widodo
aafin
kdfin

                                    rating
title
Lawless Heart, The (2003)              5.0
Cold Fever (Á köldum klaka) (1995)     5.0
Hard Core Logo (1996)                  5.0
Syrup (2013)                           5.0
Sleepwalk with Me (2012)               5.0